<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ahao.java.music.dao.ConsumerMapper">



    <resultMap id="BaseResultMap" type="com.ahao.java.music.pojo.Consumer">
        <id column="consumer_id" property="consumerId"></id>
        <result column="consumer_username" property="consumerUserName" ></result>
        <result column="consumer_nickname" property="consumerNickName" ></result>
        <result column="consumer_sex" property="consumerSex" javaType="java.lang.Byte" jdbcType="TINYINT"></result>
        <result column="consumer_phone" property="consumerPhone" ></result>
        <result column="consumer_email" property="consumerEmail" ></result>
        <result column="consumer_birth" property="consumerBirth" jdbcType="TIMESTAMP" javaType="java.util.Date"></result>
        <result column="consumer_introduction" property="consumerIntroduction" ></result>
        <result column="consumer_location" property="consumerLocation" ></result>
        <result column="consumer_img" property="consumerImg" ></result>
        <result column="consumer_createtime" property="consumerCreateTime" jdbcType="TIMESTAMP" javaType="java.util.Date"></result>
        <result column="consumer_updatetime" property="consumerUpdateTime" jdbcType="TIMESTAMP" javaType="java.util.Date"></result>

    </resultMap>
    <select id="selectAllConsumer" resultMap="BaseResultMap">
        select
        consumer_id,consumer_username,consumer_nickname,consumer_sex,consumer_phone,consumer_email,consumer_birth,consumer_introduction,
        consumer_img,consumer_createtime,consumer_updatetime
        from consumer
    </select>
    <select id="selectTotals" resultType="java.lang.Integer">
        select count(consumer_id) from consumer
    </select>
</mapper>