<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ahao.java.music.dao.SingerMapper">



    <resultMap id="BaseResultMap" type="com.ahao.java.music.pojo.Singer">
        <id column="singer_id" property="singerId"></id>
        <result column="singer_name" property="singerName"></result>
        <result column="singer_sex" property="singerSex" javaType="java.lang.Byte" jdbcType="TINYINT" ></result>
        <result column="singer_img" property="singerImg"></result>
        <result column="singer_birth" property="singerBirth" javaType="java.util.Date" jdbcType="TIMESTAMP"></result>
        <result column="singer_location" property="singerLocation"></result>
        <result column="singer_introduction" property="singerIntroduction"></result>
    </resultMap>
    <insert id="insertSinger" parameterType="com.ahao.java.music.pojo.Singer" >
        insert into singer
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="singerId!=null">
                singer_id,
            </if>
            <if test="singerName!=null">
                singer_name,
            </if>
            <if test="singerSex!=null">
                singer_sex,
            </if>
            <if test="singerImg!=null">
                singer_img,
            </if>
            <if test="singerBirth!=null">
                singer_birth,
            </if>
            <if test="singerLocation!=null">
                singer_location,
            </if>
            <if test="singerIntroduction!=null">
                singer_introduction,
            </if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="singerId!=null">
                #{singerId},
            </if>
            <if test="singerName!=null">
                #{singerName},
            </if>
            <if test="singerSex!=null">
                #{singerSex},
            </if>
            <if test="singerImg!=null">
                #{singerImg},
            </if>
            <if test="singerBirth!=null">
                #{singerBirth},
            </if>
            <if test="singerLocation!=null">
                #{singerLocation},
            </if>
            <if test="singerIntroduction!=null">
                #{singerIntroduction},
            </if>
        </trim>
    </insert>

    <update id="updateSinger" parameterType="singer">
        update singer
        <set >
            <if test="singerName!=null">
                singer_name=#{singerName},
            </if>
            <if test="singerSex!=null">
                singer_sex=#{singerSex},
            </if>
            <if test="singerImg!=null">
                singer_img=#{singerImg},
            </if>
            <if test="singerBirth!=null">
                singer_birth=#{singerBirth},
            </if>
            <if test="singerLocation!=null">
                singer_location=#{singerLocation},
            </if>
            <if test="singerIntroduction!=null">
                singer_introduction=#{singerIntroduction},
            </if>
        </set>
        where singer_id=#{singerId}
    </update>

    <delete id="deleteSinger" parameterType="java.lang.Integer">
       delete from singer where singer_id=#{singerId}
    </delete>

    <select id="selectSingerByName" parameterType="string" resultMap="BaseResultMap">
        select * from singer where singer_name=#{singerName}
    </select>

    <select id="selectAllSinger" resultMap="BaseResultMap">
        select * from singer
    </select>

    <select id="fuzzySelectSingerByName" parameterType="string" resultMap="BaseResultMap">
        select * from singer where singer_name like concat('%',#{singerName},'%')
    </select>

    <select id="selectAllSingerBySex" parameterType="java.lang.Byte" resultMap="BaseResultMap" >
        select * from singer where singer_sex=#{singerSex,jdbcType=TINYINT}
    </select>

    <select id="selectSingerById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select * from singer where singer_id=#{singerId} limit 1
    </select>
    <select id="selectTotals" resultType="java.lang.Integer">
        select count(singer_id) from singer
    </select>

</mapper>
