<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ahao.java.music.dao.SingerMapper">



    <resultMap id="BaseResultMap" type="Singer">
        <id column="singer_id" property="Singer_id"></id>
        <result column="singer_name" property="Singer_name"></result>
        <result column="singer_sex" property="Singer_sex" javaType="java.lang.Byte" jdbcType="TINYINT" ></result>
        <result column="singer_img" property="Singer_img"></result>
        <result column="singer_birth" property="Singer_birth" javaType="java.util.Date" jdbcType="TIMESTAMP"></result>
        <result column="singer_location" property="Singer_location"></result>
        <result column="singer_introduction" property="Singer_introduction"></result>
    </resultMap>
    <insert id="insertSinger" parameterType="singer" >
        insert into singer
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="Singer_id!=null">
                singer_id,
            </if>
            <if test="Singer_name!=null">
                singer_name,
            </if>
            <if test="Singer_sex!=null">
                singer_sex,
            </if>
            <if test="Singer_img!=null">
                singer_img,
            </if>
            <if test="Singer_birth!=null">
                singer_birth,
            </if>
            <if test="Singer_location!=null">
                singer_location,
            </if>
            <if test="Singer_introduction!=null">
                singer_introduction,
            </if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="Singer_id!=null">
                #{Singer_id},
            </if>
            <if test="Singer_name!=null">
                #{Singer_name},
            </if>
            <if test="Singer_sex!=null">
                #{Singer_sex},
            </if>
            <if test="Singer_img!=null">
                #{Singer_img},
            </if>
            <if test="Singer_birth!=null">
                #{Singer_birth},
            </if>
            <if test="Singer_location!=null">
                #{Singer_location},
            </if>
            <if test="Singer_introduction!=null">
                #{Singer_introduction},
            </if>
        </trim>
    </insert>

    <update id="updateSinger" parameterType="singer">
        update singer
        <set >
            <if test="Singer_name!=null">
                singer_name=#{Singer_name},
            </if>
            <if test="Singer_sex!=null">
                singer_sex=#{Singer_sex},
            </if>
            <if test="Singer_img!=null">
                singer_img=#{Singer_img},
            </if>
            <if test="Singer_birth!=null">
                singer_birth=#{Singer_birth},
            </if>
            <if test="Singer_location!=null">
                singer_location=#{Singer_location},
            </if>
            <if test="Singer_introduction!=null">
                singer_introduction=#{Singer_introduction},
            </if>
        </set>
        where singer_id=#{Singer_id}
    </update>

    <delete id="deleteSinger" parameterType="java.lang.Integer">
       delete from singer where singer_id=#{Singer_id}
    </delete>

    <select id="selectSingerByName" parameterType="string" resultMap="BaseResultMap">
        select * from singer where singer_name=#{Singer_name}
    </select>

    <select id="selectAllSinger" resultMap="BaseResultMap">
        select * from singer
    </select>

    <select id="fuzzySelectSingerByName" parameterType="string" resultMap="BaseResultMap">
        select * from singer where singer_name like concat('%',#{Singer_name},'%')
    </select>

    <select id="selectAllSingerBySex" parameterType="java.lang.Byte" resultMap="BaseResultMap" >
        select * from singer where singer_sex=#{Singer_sex,jdbcType=TINYINT}
    </select>

    <select id="selectSingerById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select * from singer where singer_id=#{Singer_id} limit 1
    </select>




</mapper>
