<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ahao.java.music.dao.SongListMapper">



    <resultMap id="BaseResultMap" type="com.ahao.java.music.pojo.SongList">
        <id column="songlist_id" property="songListId"></id>
        <result column="songlist_title" property="songListTitle"></result>
        <result column="songlist_img" property="songListImg"></result>
        <result column="songlist_introduction" property="songListIntroduction"></result>
        <result column="songlist_style" property="songListStyle"></result>
    </resultMap>
    <insert id="insertSongList" parameterType="com.ahao.java.music.pojo.SongList" >
        insert into songlist
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="songListTitle!=null">
                songlist_title,
            </if>
            <if test="songListIntroduction!=null">
                songlist_introduction,
            </if>
            <if test="songListStyle!=null">
                songlist_style,
            </if>
            <if test="songListImg!=null">
                songlist_img
            </if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="songListTitle!=null">
                #{songListTitle},
            </if>
            <if test="songListIntroduction!=null">
                #{songListIntroduction},
            </if>
            <if test="songListStyle!=null">
                #{songListStyle},
            </if>
            <if test="songListImg!=null">
                #{songListImg},
            </if>
        </trim>
    </insert>

    <update id="updateSongList" parameterType="SongList">
        update songlist
        <set >
            <if test="songListTitle!=null">
                songlist_title=#{songListTitle},
            </if>
            <if test="songListImg!=null">
                songlist_img=#{songListImg},
            </if>
            <if test="songListIntroduction!=null">
                songlist_introduction=#{songListIntroduction},
            </if>
            <if test="songListStyle!=null">
                songlist_style=#{songListStyle},
            </if>
        </set>
        where songlist_id=#{songListId}
    </update>

    <delete id="deleteSongList" parameterType="java.lang.Integer">
        delete from songlist where songlist_id=#{songListId}
    </delete>

    <select id="selectAllSongList" resultMap="BaseResultMap">
        select * from songlist
    </select>

    <select id="fuzzySelectSongListByTitle" resultMap="BaseResultMap" parameterType="string">
        select * from songlist where songlist_title like concat('$',#{songListTitle},'$')
    </select>

    <select id="selectSongListById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select * from songlist where songlist_id=#{songListId} limit 1
    </select>

    <select id="selectSongListByStyle" resultMap="BaseResultMap" parameterType="java.lang.String">
        select * from songlist where songlist_style =#{songListStyle}
    </select>


</mapper>
