<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ahao.java.music.dao.SongListMapper">



    <resultMap id="BaseResultMap" type="SongList">
        <id column="songlist_id" property="SongList_id"></id>
        <result column="songlist_title" property="SongList_title"></result>
        <result column="songlist_img" property="SongList_img"></result>
        <result column="songlist_introduction" property="SongList_introduction"></result>
        <result column="songlist_style" property="SongList_style"></result>
    </resultMap>
    <insert id="insertSongList" parameterType="SongList" >
        insert into songlist
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="SongList_title!=null">
                songlist_title,
            </if>
            <if test="SongList_introduction!=null">
                songlist_introduction,
            </if>
            <if test="SongList_style!=null">
                songlist_style,
            </if>
            <if test="SongList_img!=null">
                songlist_img
            </if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="SongList_title!=null">
                #{SongList_title},
            </if>
            <if test="SongList_introduction!=null">
                #{SongList_introduction},
            </if>
            <if test="SongList_style!=null">
                #{SongList_style},
            </if>
            <if test="SongList_img!=null">
                #{SongList_img},
            </if>
        </trim>
    </insert>

    <update id="updateSongList" parameterType="SongList">
        update songlist
        <set >
            <if test="SongList_title!=null">
                songlist_title=#{SongList_title},
            </if>
            <if test="SongList_img!=null">
                songlist_img=#{SongList_img},
            </if>
            <if test="SongList_introduction!=null">
                songlist_introduction=#{SongList_introduction},
            </if>
            <if test="SongList_style!=null">
                songlist_style=#{SongList_style},
            </if>
        </set>
        where songlist_id=#{SongList_id}
    </update>

    <delete id="deleteSongList" parameterType="java.lang.Integer">
        delete from songlist where songlist_id=#{SongList_id}
    </delete>

    <select id="selectAllSongList" resultMap="BaseResultMap">
        select * from songlist
    </select>

    <select id="fuzzySelectSongListByTitle" resultMap="BaseResultMap" parameterType="string">
        select * from songlist where songlist_title like concat('$',#{SongList_title},'$')
    </select>

    <select id="selectSongListById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select * from songlist where songlist_id=#{SongList_id} limit 1
    </select>

    <select id="selectSongListByStyle" resultMap="BaseResultMap" parameterType="java.lang.String">
        select * from songlist where songlist_style =#{SongList_style}
    </select>


</mapper>
